<section class="topics">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-12 col-md-12 col-lg-4">
        <div class="title">
          <div i18n>多樣化主題</div>
          <div i18n>滿足你的需求</div>
        </div>

        <div class="picmove">
          <div class="picLeft">
            <img src="https://ponddy-ai-english.s3-us-west-2.amazonaws.com/landing/mobile/scroll 1.png" alt="scroll-1">
            <img src="https://ponddy-ai-english.s3-us-west-2.amazonaws.com/landing/mobile/scroll 1.png" alt="scroll-1">
            <img src="https://ponddy-ai-english.s3-us-west-2.amazonaws.com/landing/mobile/scroll 1.png" alt="scroll-1">
          </div>
        </div>

        <div class="picmove">
          <div class="picRight">
            <img src="https://ponddy-ai-english.s3-us-west-2.amazonaws.com/landing/mobile/scroll 2.png" alt="scroll-2">
            <img src="https://ponddy-ai-english.s3-us-west-2.amazonaws.com/landing/mobile/scroll 2.png" alt="scroll-2">
            <img src="https://ponddy-ai-english.s3-us-west-2.amazonaws.com/landing/mobile/scroll 2.png" alt="scroll-2">
          </div>
        </div>

        <div class="picmove">
          <div class="picLeft_1">
            <img src="https://ponddy-ai-english.s3-us-west-2.amazonaws.com/landing/mobile/scroll 3.png" alt="scroll-3" style="padding-left: 50px;">
            <img src="https://ponddy-ai-english.s3-us-west-2.amazonaws.com/landing/mobile/scroll 3.png" alt="scroll-3">
            <img src="https://ponddy-ai-english.s3-us-west-2.amazonaws.com/landing/mobile/scroll 3.png" alt="scroll-3">
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
