<section class="download" id="download">
  <div class="container">
    <div class="row justify-content-center">
        <div class="download__content col-11 col-md-12">
          <div>
            <div class="top">
              <div class="text">
                <span class="slash slash-l">|</span>
                掃描免費下載 APP
                <span class="slash slash-r">|</span>
              </div>
            </div>

            <div class="bottom">
              <div class="left">
                <div class="qrcode">
                  <img src="./assets/images/landing-two/qrcode.svg" alt="ponddy-ai-english-download-qrcode">
                </div>
              </div>
              <div class="right">
                <div>
                  <a id="download_android_two" class="google-play" target="_blank" href="https://play.google.com/store/apps/details?id=com.ponddy.ai">
                    <img src="./assets/images/landing-two/google-play.svg" alt="ponddy-ai-english-download-android">
                  </a>
                  <a id="download_ios_two" class="app-store" target="_blank" href="https://apps.apple.com/app/id1543876551">
                    <img src="./assets/images/landing-two/app-store.svg" alt="ponddy-ai-english-download-ios">
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</section>